@using ExcelCompaire.Models
@using Section = DocumentFormat.OpenXml.Office2010.PowerPoint.Section


@using ExcelCompaire.Enums

@{
    ViewBag.Title = "Home Page";
}

<div class="panel panel-info" style="margin-top: 20px;">
    <div class="panel-heading">Upload Excel Files</div>
    <div class="panel-body">
        @using (Ajax.BeginForm("UploadFiles", "Home", new AjaxOptions { HttpMethod = "POST" }, new { @id = "excelForm", @class = "row", role = "form", enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group col-md-12">
                        <label for="planFilePath">Plan Excel</label>
                        <input type="file" class="form-control" id="planFilePath" name="files">
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group col-md-12 ">
                        <label for="productFilePath">Product Excel</label>
                        <input type="file" class="form-control" id="productFilePath" name="files">
                    </div>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-default pull-right" style="margin-right: 50px;">Upload</button>
            </div>
        }
    </div>
</div>


@if (Model != null)
{
<div class="panel panel-info" style="margin-top: 20px;">
    <div class="panel-heading">Upload Excel Files</div>
    <div class="panel-body">
        
        @using (Ajax.BeginForm("SelectWorkSheet", "Home", new AjaxOptions { HttpMethod = "POST" }, new { @id = "excelFormworkSheet", @class = "row", role = "form" }))
        {

            

            foreach (var a in Model.ExcelFiles)
            {
                <div class="form-group col-md-6">
                    <label for="sel1">Select list:</label>
                    <select class="form-control" name="@a.Key">


                        @foreach (var worksheet in a.Value.Worksheets)
                        {
                            <option >@worksheet</option>
                        }



                    </select>
                </div>
            }
            <div class="row">
                <button type="submit" class="btn btn-default pull-right" style="margin-right: 50px;">Upload</button>
            </div>
        }









        }
    </div>
</div>
}










@section scripts {

    @*<script>

            $('input[type=file]').change(function () {
                console.dir(this.value);

            })

        </script>*@

}





